* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand";
}

.sm-background-inicio {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(78, 127, 204, 1) 0%, rgba(90, 202, 202, 1) 100%);
}

sm-nav-ul {
    margin-right: 30px;
}

#nav ul li a {
    padding: 0;
}

.nav-item {
    font-weight: bolder;
    font-size: 1.2em;
}

.nav-item:not(:last-child) {
    margin-right: 30px;
}

.nav-link:hover {
    text-decoration: underline solid white;
}

.active {
    border-radius: 15px;
    background-color: white;
    padding: 5px 15px;
}

.active>* {
    color: rgb(78, 128, 204) !important;
}

.sm-social a {
    font-size: 2.5em;
    color: white;
    transition: all 0.3s ease-in;
}

.sm-social a:hover {
    color: rgb(73, 73, 80);
}

.sm-my-name {
    margin-bottom: 150px;
}

.sm-img-yo {
    display: inherit;
}

@media only screen and (max-width: 991px) {
    .nav-item:not(:last-child) {
        margin-right: inherit;
    }
    .nav-item {
        margin-top: 10px;
        margin-right: inherit;
    }
    .sm-img-yo {
        display: none !important;
    }
}

.custom-shape-divider-bottom-1606683148 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1606683148 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 137px;
}

.custom-shape-divider-bottom-1606683148 .shape-fill {
    fill: #4E80CC;
}

.sm-card {
    color: rgb(112, 112, 112);
}

.sm-list-acerca {
    list-style-type: none;
}

.sm-list-acerca li span {
    color: rgb(78, 128, 204);
}

.sm-lenguajes {
    margin-top: 25px;
}

.sm-lenguajes>img {
    width: 75px;
    height: 75px;
    margin-right: 50px;
    margin-bottom: 30px;
    filter: grayscale(50);
    transition: transform 0.3s ease;
}

.sm-lenguajes>img:hover {
    filter: grayscale(0);
    transform: scale(1.3);
}